/* your own theme here */

body {
    font-family: 'Ubuntu';
    background: #e2e2e4;
}

.header {
}

.header-text {

}

.header-logo {
}

.header a {
    background: none;
}

.header .header-menu-item {
    color: black;
}

.nav {
}

.nav a {
    color: #000000;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    background: white;
}

.content {

}

.solution-list li {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.solution-preview {
    background: rgba(255, 255, 255, 0.4);
}

.solution-list .solution-preview-image {
    background: #83de7b;
}

.solution-description {
    background: white;
}

.solution-citation {
    font-family: 'Ubuntu Condensed';
}

.meta-name {
    font-family: 'Ubuntu Mono';
    font-size: 110%;
}

.meta-value {
    background: white;
    margin-right: -20px;
}

.doc-box-content {
    background: white;
}

.doc-box {
    border-radius: 5px;
    background: rgba(255, 255,255 , 0.3);
}

.doc-box-title {
}

.meta-box {
    border-radius: 5px;
}

.doc-box pre[class*="language-"] {
    background: none;
}

.doc-box code[class*="language-"], pre[class*="language-"] {
    color: black;
    background: none;
}

.solution-cover {
    border-radius: 5px;
}

.gui-button {
    box-shadow: #e2e2e4;
    border-radius: 3px;
}

.os-specific-download {
    border-radius: 12px;
}

.citation-doi, .tag {
    background: rgba(0, 0,0 , 0.1);
    border-radius: 3px;
    font-family: "Ubuntu Mono"
}

.documentations {
    border-top: 1px dashed white;
    margin: 30px 0 10px;
}

@media (max-width: 1360px) {
    .header-logo, .header .header-menu-item {
        border: 0;
    }
}
